# Intellij Idea
.idea/
out/
.kotlintest

# Gradle
gradlew
gradlew.bat
gradle/
.gradle/
.gradletasknamecache


# Java & Kotlin
*.class
*.log
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Project out
/build/

